#Global
!/.gitignore
!.well-known

#maven
target/
bin/
#eclipse
.settings
.project
.classpath
.directory
#intellij
.idea/
*.iml
#netbeans
nbactions.xml
nb-configuration.xml
#gwt
.gwt/
gwt-unitCache/
.pmd


#other
logfile
logfile.*
.ekstazi

*.solverstate
*pid*.log
.attach_pid*

.metadata/
query_log.fillins.log
query_log.filters.log
query_log.fsp.log
query_log.itemcount.log
query_log.minmaxprice.log
query_log.sortsum.log
query_log.tagsetinformation.log
query_log.windows.log
######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar
